/*main-block*/
.container {
    max-width: 1800px;
    margin: 0 auto;
    text-align: center;
}
.main {
    width: 940px;
    height: 478px;
    left: 250px;
    margin: 0 auto;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 36px;
    margin: 10px 405px 28px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}
#rectangle {
    width: 80px;
    height: 2px;
    display: block;
    margin: 28px auto;

    text-align: center;
    color: rgba(0, 0, 0, 0.09);
    background: rgba(0, 0, 0, 0.09);
}

.block {
    width: 960px;
    height: 339px;
    margin: 119px 0 20px;
}

/*card*/
.card {
    width: 240px;
    height: 339px;
    text-align: center;
    display: inline-block;
    margin: 15px;

}
h3 {
    padding: 20px 54px 6px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: #333333;

}

p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Vollkorn', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

.footer {
    margin:  18px 10px 0;
}

.img {
    margin: 11px 6px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.09);
}

