/*main-block*/
.main {
    margin: 80px auto 50px;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 36px;
    margin: 10px 400px 28px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.line {
    width: 80px;
    height: 2px;
    display: block;
    margin: 28px auto 43px;
    text-align: center;
    color: rgba(0, 0, 0, 0.09);
    background: rgba(0, 0, 0, 0.09);
}



/*card*/
.card {
    width: 240px;
    height: 339px;
    text-align: center;
    display: inline-block;
    margin: 21px 0 10px;
}
.photo {
    padding: 0  10px;
    margin-bottom: 10px;
}

.text {
    padding: 0 35px 10px;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: #333333;
}

p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Vollkorn', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

/*footer*/
.footer {
    margin: 18px 5px 0;
    display: inline-flex;
}

.img {
    padding: 1px 7px;
    max-height: 14px;
    margin: 0 3px;
    display: inline-block;
    height: 100%;
    background: #F5F5F5;
}


